<footer id="site-footer" class="py-10 print:hidden">
  <div class="flex items-center justify-between">
    {{/* Copyright */}}
    {{ if .Site.Params.footer.showCopyright | default true }}
      <p class="text-sm text-neutral-500 dark:text-neutral-400">
        {{- with replace .Site.Params.copyright "{ year }" now.Year }}
          {{ . | markdownify }}
        {{- else }}
          &copy;
          {{ now.Format "2006" }}
          {{ .Site.Params.Author.name | markdownify }}
        {{- end }}
      </p>
    {{ end }}

    {{/* Footer menu */}}
    {{ if .Site.Menus.footer }}
      <nav>
        <ul class="flex list-none">
          {{ range .Site.Menus.footer }}
            <li>
              <a
                class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2 flex items-center text-sm text-neutral-500 dark:text-neutral-400"
                href="{{ .URL }}"
                title="{{ .Title }}"
                {{ with .Params.target }}target="{{ . }}"{{ end }}
                {{ with .Params.rel }}rel="{{ . }}"{{ end }}>
                {{ if .Pre }}
                  <span {{ if and .Pre .Name }}class="mr-1"{{ end }}>
                    {{ partial "icon.html" .Pre }}
                  </span>
                {{ end }}
                {{ .Name | markdownify }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
    {{ end }}
  </div>
  {{ if not .Site.Params.disableImageZoom | default true }}
    <script>
      mediumZoom(document.querySelectorAll("img:not(.nozoom)"), {
        margin: 24,
        background: "rgba(0,0,0,0.5)",
        scrollOffset: 0,
      });
    </script>
  {{ end }}
  {{ if templates.Exists "partials/extend-footer.html" }}
    {{ partialCached "extend-footer.html" . }}
  {{ end }}
</footer>
